<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/pitch-data.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/js/pitch-data.js}"></script>
</head>
<body>
    <div id="zone">
        <img id="zone_win"th:src="@{/images/zone.png}">
        <img id="ball" th:src="@{/images/ball.png}">
        <input type="text" id="text1">
        <input type="text" id="text2">
    </div>
</body>
</html>