#zone {

    width:200px;
    height:200px;
}

#zone #zone_win{
    position: relative;
    width:200px;
    height:200px;
}

#zone #ball{
  position: absolute;
  color: white;
  width:20px;
  height:20px;
  top: 0;
  left: 0;
}